@model List<DRAWeb.Models.UserCompetencyMatrixModel>
@{
    ViewData["Title"] = "UserCompetency";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div id="ui-view">
        <div>
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>MainGroup</th>
                                            <th>SubGroup</th>
                                            <th>Competency</th>
                                            <th>RequiredLevel</th>
                                            <th>CurrentLevel</th>
                                            <th>Gap</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (Model != null && Model.Any())
                                            {
                                                var groupType = Model.GroupBy(x => x.Type);
                                                foreach (var type in groupType)
                                                {
                                                    var itemCount = type.Count();
                                                    for (int i = 0; i < itemCount; i++)
                                                    {
                                                        var item = type.ToList()[i];
                                                        if (i == 0)
                                                        {
                                                            <tr>
                                                                <td rowspan="@itemCount">@item.Type</td>
                                                                <td>@item.MainGroup</td>
                                                                <td>@item.SubGroup</td>
                                                                <td>@item.Competency</td>
                                                                <td>@item.RequiredLevel</td>
                                                                <td>@item.CurrentLevel</td>
                                                                @if (item.Gap == 2)
                                                                {
                                                                    <td><span class="badge badge-danger">@item.Gap</span></td>
                                                                }
                                                                else if (item.Gap == 1)
                                                                {
                                                                    <td><span class="badge badge-warning">@item.Gap</span></td>
                                                                }
                                                                else
                                                                {
                                                                    <td><span class="badge badge-secondary">@item.Gap</span></td>
                                                                }


                                                            </tr>
                                                        }
                                                        else
                                                        {
                                                            <tr>
                                                                <td>@item.MainGroup</td>
                                                                <td>@item.SubGroup</td>
                                                                <td>@item.Competency</td>
                                                                <td>@item.RequiredLevel</td>
                                                                <td>@item.CurrentLevel</td>
                                                                @if (item.Gap == 2)
                                                                {
                                                                    <td><span class="badge badge-danger">@item.Gap</span></td>
                                                                }
                                                                else if (item.Gap == 1)
                                                                {
                                                                    <td><span class="badge badge-warning">@item.Gap</span></td>
                                                                }
                                                                else
                                                                {
                                                                    <td><span class="badge badge-secondary">@item.Gap</span></td>
                                                                }
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer p-4">
                                <div class="row">
                                    <div class="col-12">
                                        <a asp-action="ExportExcel" asp-controller="Report" class="btn btn-success">Export to Excel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home4" role="tab" aria-controls="home">
                                        <i class="icon-calculator"></i> Table Data
                                        <span class="badge badge-success">New</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#messages4" role="tab" aria-controls="messages">
                                        <i class="icon-pie-chart"></i> Charts
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home4" role="tabpanel">
                                    <div class="card">
                                        <div class="card-body">
                                            <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                                <thead>
                                                    <tr>
                                                        <th>Type</th>
                                                        <th>MainGroup</th>
                                                        <th>SubGroup</th>
                                                        <th>Competency</th>
                                                        <th>RequiredLevel</th>
                                                        <th>CurrentLevel</th>
                                                        <th>Gap</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        var groupType = Model.GroupBy(x => x.Type);
                                                        foreach (var type in groupType)
                                                        {
                                                            var itemCount = type.Count();
                                                            for (int i = 0; i < itemCount; i++)
                                                            {
                                                                var item = type.ToList()[i];
                                                                if (i == 0)
                                                                {
                                                                    <tr>
                                                                        <td rowspan="@itemCount">@item.Type</td>
                                                                        <td>@item.MainGroup</td>
                                                                        <td>@item.SubGroup</td>
                                                                        <td>@item.Competency</td>
                                                                        <td>@item.RequiredLevel</td>
                                                                        <td>@item.CurrentLevel</td>
                                                                        @if (item.Gap == 2)
                                                                        {
                                                                            <td><span class="badge badge-danger">@item.Gap</span></td>
                                                                        }
                                                                        else if (item.Gap == 1)
                                                                        {
                                                                            <td><span class="badge badge-warning">@item.Gap</span></td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td><span class="badge badge-secondary">@item.Gap</span></td>
                                                                        }


                                                                    </tr>
                                                                }
                                                                else
                                                                {
                                                                    <tr>
                                                                        <td>@item.MainGroup</td>
                                                                        <td>@item.SubGroup</td>
                                                                        <td>@item.Competency</td>
                                                                        <td>@item.RequiredLevel</td>
                                                                        <td>@item.CurrentLevel</td>
                                                                        @if (item.Gap == 2)
                                                                        {
                                                                            <td><span class="badge badge-danger">@item.Gap</span></td>
                                                                        }
                                                                        else if (item.Gap == 1)
                                                                        {
                                                                            <td><span class="badge badge-warning">@item.Gap</span></td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td><span class="badge badge-secondary">@item.Gap</span></td>
                                                                        }
                                                                    </tr>
                                                                }
                                                            }
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="card-footer p-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <a asp-action="ExportExcel" asp-controller="Report" class="btn btn-success">Export to Excel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="messages4" role="tabpanel">
                                    3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>